{% extends '::base.html.twig' %}

{% block title %}Минишоп{% endblock %}
{% block container %}
    <h2>{{ product.title }}</h2>
    <div class="row">
        <div class="col-md-8">
            <h3>Cклады</h3>
            <table class="table">
                <tr>
                    <th>Склад</th>
                    <th>Остаток</th>
                    <th>Продано</th>
                    <th>Подарено</th>
                    <th>Экшины</th>
                </tr>
                {% for store in stores %}
                    <tr>
                        <td><a href="{{ path('spolischook_minishop_store_get', {'slug': store.slug}) }}">{{ store.title }}</a></td>
                        <td>{{ store.productQuantity }}</td>
                        <td>{{ store.salesItemsCount }}</td>
                        <td>{{ store.giftItemsCount }}</td>
                        <td>
                            {% if store.productQuantity > 0 %}
                                <a href="{{ path('spolischook_minishop_productsale_formnew', {'slug': store.slug }) }}" type="button" class="btn btn-default" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Продать
                                </a>
                                <a href="{{ path('spolischook_minishop_producttransfer_formnew', {'slug': store.slug }) }}" type="button" class="btn btn-default" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Переместить
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-4">
            <h3>Итог</h3>
            <table class="table">
                <tr>
                    <th>Название</th>
                    <th>Количество</th>
                </tr>
                <tr>
                    <td>Всего остаток:</td>
                    <td>{{ totalInStores }} шт</td>
                </tr>
                <tr>
                    <td>Всего наличными:</td>
                    <td>{{ totalCash }} грн</td>
                </tr>
                <tr>
                    <td>Всего на карту:</td>
                    <td>{{ totalCard }} грн</td>
                </tr>
                <tr>
                    <td>Всего продано:</td>
                    <td>{{ totalSales }} шт</td>
                </tr>
                <tr>
                    <td>Всего подарено:</td>
                    <td>{{ totalGifts }} шт</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
